<%= stylesheet_link_tag 'form' %>
<div class='form-wrapper'>
<h1><%= t('.edit', resource: resource_name.to_s.humanize) %></h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class='form-field-wrapper'>
    <%= f.input :image, as: :file %>
  </div>

  <div class='form-field-wrapper'>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', placeholder: 'Name' %>
  </div>

  <div class='form-field-wrapper'>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'Email' %>
  </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <div>
    <%= f.text_field :specialization, autofocus: true, autocomplete: 'specialization', placeholder: 'Specialization' %>
    </div>

    <div class='form-field-wrapper'>
      <%= f.password_field :password, autocomplete: 'new-password', placeholder: 'New Password', id: 'doctor_new_password' %>
    </div>

   <div class='form-field-wrapper'>
     <%= f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: 'Confirm New Password'  %>
   </div>

   <div class='form-field-wrapper'>
     <%= f.password_field :current_password, autocomplete: 'current-password', placeholder: 'Current Password' %>
   </div>

   <div>
     <%= f.button :submit, "Done!",class: 'form-button' %>
   </div>
 <% end %>

 <div class='cancel-acct'>
    <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete %>
 </div>
</div>
</div>
