<%= stylesheet_link_tag 'form' %>
<h1><%= t('.sign_up') %></h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 <%= f.error_notification %>

   <div class="custom-file">
      <%= f.input :image, as: :file %>
		</div>

          <div class="form-field-wrapper">
            <%= f.text_field :name, autofocus: true, autocomplete: 'full name', placeholder: 'Full Name', id: 'doctor_name_sign_up' %>
          <small><%= resource.errors[:name].first if resource.errors[:name].present?%>
          </div></small>

          <div class="form-field-wrapper">
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'Email' %>
          <small>  <%= resource.errors[:email].first if resource.errors[:email].present?%> </small>
          </div>

          <div class="form-field-wrapper">
              <%= f.text_field :specialization, autofocus: true, autocomplete: 'specialization', placeholder: 'Specialization' %>
          <small><%= resource.errors[:specialization].first if resource.errors[:specialization].present?%> </small>
          </div>

          <div class="form-field-wrapper">
              <%= f.password_field :password, autocomplete: 'current-password', placeholder: 'Password (6 characters minimum)' %>

              <% if @minimum_password_length %>
                <small><% t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>

                <small><%= resource.errors[:password].first if resource.errors[:password].present?%> </small>
              <% end %>
            </div>

            <div class="form-field-wrapper">
              <%= f.password_field :password_confirmation, autocomplete: 'current-password', placeholder: 'Confirm Password' %>

              <small style="color: red;"> <%= resource.errors[:password_confirmation].first if resource.errors[:password_confirmation].present?%> </small>
              </div>

            <div class="form-field-wrapper">
              <%= f.button :submit, "Sign up", class: 'form-button' %>
            </div>
          <% end %>

<div id="back-btn">
<%= link_to 'Back', root_path %>
</div>
