<%= stylesheet_link_tag "patients" %>
<div class="users-show">

<%= image_tag @patient.image.url(:thumb), :class => 'avatar' %>
<h1 class='user-name-header'><%= @patient.name %></h1>

<% if current_patient %>
    <div class='recipe-search-container'>
      <%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Recipes...", id: 'form-control-bar' %>  <%= submit_tag "Go", id: 'search-submit-button' %>
      <% end %>
    </div>
<% end %>

<% if current_doctor %>
<div class='diagnoses-list-container'>
    <% @diagnoses.each do |diagnosis| %>
        <li class='diagnoses-list'>
            <p class='diagnosis'><%= link_to diagnosis.name, patient_diagnosis_path(id: diagnosis.id), class: 'diagnosis-name' %></p>
            <p class='arrow'><%= link_to image_tag("arrow-point-to-right.png", :alt => "arrow pointing to right", class: "img-arrow-right"), patient_diagnosis_path(id: diagnosis.id) %></p>
        </li>
    <% end %>
    <div class='add-diagnosis'>
    <%= link_to 'Add Diagnosis', new_patient_diagnosis_path(@patient), class: 'add-diagnosis-label' %>
    </div>
</div>
<% end %>

</div>
