<%= stylesheet_link_tag "patients" %>
<div class="users-show">

<%= image_tag @patient.image.url(:thumb), :class => 'avatar' %>
<h1 class='user-name-header'><%= @patient.name %></h1>

<div class='diagnoses-list-container'>
    <% @diagnoses.each do |diagnosis| %>
        <li class='diagnoses-list'>
            <p class='diagnosis'><%= link_to diagnosis.name, patient_diagnosis_path(id: diagnosis.id), class: 'diagnosis-name' %></p>
            <p class='arrow'><%= link_to image_tag("arrow-point-to-right.png", :alt => "arrow pointing to right", class: "img-arrow-right"), patient_diagnosis_path(id: diagnosis.id) %></p>
        </li>
    <% end %>
<% if current_doctor %>
    <div class='add-diagnosis'>
    <%= link_to image_tag("add.png", :alt => "addition symbol", class: "img-add"), new_patient_diagnosis_path(@patient), class: 'add-diagnosis-label' %>
    </div>
</div>
<% end %>

</div>
