<link rel="stylesheet" href="../assets/stylesheets/diagnosis.scss">

<div class="new-diagnosis-container">
  <h2>Add Diagnosis</h2>

  <%= form_for(@diagnoses, url: patient_diagnoses_path) do |f| %>
    <div class = "field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

  <%= f.submit %>
  <% end %>

  <p><%= link_to 'Back', patient_path(@patient) %></p>
</div>
