<%= stylesheet_link_tag "diagnosis" %>

<div class="new-diagnosis-container">
  <%= image_tag("health.png", :alt => "heart with addition symbol", class: "img-heart") %>
  <h2 class="add-diagnosis-header">Add Diagnosis</h2>

  <%= form_for(@diagnoses, url: patient_diagnoses_path) do |f| %>
    <div class="field">
      <%= f.text_field :name, placeholder: 'Name' %>
    </div>

    <div class="field">
      <%= f.submit %>
    </div>
  <% end %>
</div>
