<%= stylesheet_link_tag "diagnosis" %>

<div class="new-diagnosis-container">
  <%= image_tag("heart-rate.svg", :alt => "heart with heart rate", class: "img-heart-rate") %>
  <h2 class="add-diagnosis-header">Add Diagnosis</h2>

  <%= form_for(@diagnoses, url: patient_diagnoses_path) do |f| %>
    <div class="field">
      <%= f.label :name, class: "diagnosis-name" %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.submit %>
    </div>
  <% end %>

  <p><%= link_to 'Back', patient_path(@patient) %></p>
</div>
