<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if patient_signed_in? %>
  Logged in as <strong><%= current_patient.email %></strong>.
  <%= link_to 'Edit profile', edit_patient_registration_path %> |
  <%= link_to "Logout", destroy_patient_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_patient_registration_path %> |
  <%= link_to "Login", new_patient_session_path %>
<% end %>
