<h1><%= t('.edit', resource: resource_name.to_s.humanize) %></h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :image, as: :file %>
  </div>

  <div class="form-group">
    <%= f.label :name, :required =>false %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :age, :required =>false %>
    <%= f.text_field :age, autofocus: true, autocomplete: 'name', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :sex, :required =>false %>
    <%= f.text_field :sex, autofocus: true, autocomplete: 'name', class: 'form-control' %>
  </div>

    <div class="form-group">
      <%= f.label :email, :required =>false %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
    </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>

        <small class="form-text text-muted"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
      </div>

     <div class="form-group">
       <%= f.label :password_confirmation %>
       <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
     </div>

     <div class="form-group">
       <%= f.label :current_password %>
       <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>

       <small class="form-text text-muted">
         <%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>

     </div>

     <div class="form-group">

       <%= f.button :submit, "Done!", class: 'btn btn-primary' %>
     </div>
   <% end %>
  <div class="form-group">
     <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: 'Are you sure?' }, class: 'btn btn-warning', method: :delete %>
  </div>

  <div class="form-group">
  <%= link_to 'Back', patient_path(current_patient), class: 'btn btn-primary'%>
  </div>
