<%= stylesheet_link_tag 'form' %>
<h1><%= t('.edit', resource: resource_name.to_s.humanize) %></h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-field-wrapper">
    <%= f.input :image, as: :file %>
  </div>

  <div class="form-field-wrapper">
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', placeholder: 'Full Name' %>
  </div>

  <div class="form-field-wrapper">
    <%= f.text_field :age, autofocus: true, autocomplete: 'name', placeholder: 'Age' %>
  </div>

  <div class="form-field-wrapper">
    <%= f.text_field :sex, autofocus: true, autocomplete: 'name', placeholder: 'Sex' %>
  </div>

    <div class="form-field-wrapper">
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'Email' %>
    </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <div class="form-field-wrapper">
        <%= f.password_field :password, autocomplete: 'new-password', placeholder: 'New Password', id: 'patient_new_password' %>

        <small><%= t(".leave_blank_if_you_don't_want_to_change_it") %></small>
      </div>

     <div class="form-field-wrapper">
       <%= f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: 'Password Confirmation'  %>
     </div>

     <div class="form-field-wrapper">
       <%= f.password_field :current_password, autocomplete: 'current-password', placeholder: 'Current Password' %>

       <small>
         <%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>

     </div>

     <div class="form-field-wrapper">

       <%= f.button :submit, "Done!", class: 'form-button' %>
     </div>
   <% end %>

  <div class="cancel-acct">
     <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete %>
  </div>
