<h1>Add Patient </h1>

<%= form_for [@patient] do |f| %>
 <div class = "field"><%= f.label :name %>
 <%= f.text_field :name %>

 <div class = "field">
   <%= f.label  :age %>
 <%= f.number_field  :age %> </div>

 <div class = "field">
   <%= f.label :sex %>
 <%= f.text_field :sex %></div>

<%= f.submit %>
<% end %>
