<%= stylesheet_link_tag "patients" %>
<div class="users-show">

<%= image_tag @patient.image.url(:thumb), :class => 'avatar' %>
<h1 class='user-name-header'><%= @patient.name %></h1>

<% if current_patient %>
  <p><%= link_to 'Diagnosis & Diet', patient_diagnoses_path(@patient), class: 'diagnosis-diet-link' %></p>

  <h1 class='recipe-search-header'>Search for new recipes</h1>
    <div class='recipe-search-container'>
      <%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Recipes...", id: 'form-control-bar' %>  <%= submit_tag "Go", id: 'search-submit-button' %>
    </div>
      <% end %>
<% end %>

<% if current_doctor %>
  <div class='diagnosis-diet-container'>
    <li class='patient-diagnosis-diet'>
      <p><%= image_tag("medical-record.png", :alt => "medical record board", class: "medical-record") %></p>
      <p><%= link_to 'Diagnoses & Diet', patient_diagnoses_path(@patient) %></p>
    </li>
    <li class='add-diagnosis-diet'>
      <p><%= image_tag("health.png", :alt => "addition symbol", class: "add-button") %></p>
      <p><%= link_to 'Add Diagnosis & Diet', new_patient_diagnosis_path(@patient) %></p>
    </li>
  </div>
<% end %>

</div>
