<h1>Patient</h1>
<div class = "tile-container">

<%= link_to 'Edit My Account', edit_patient_registration_path(@patient) %>

  <% @patients.each do |patient| %>
  <%= @patient.name %>
  <%= @patient.age %>
  <%= @patient.sex %>
  <%= @patient.diagnoses %>
  <%= @patient.meal_plan %>
  <% end %>

  <% if current_doctor %>
    <%= link_to 'Edit', edit_patient_path(@patient) %> | <%= link_to 'Delete', patient_path(@patient), method: :delete, data: {confirm: 'Are you sure you want to delete this patient?'} %>

    <p><%= link_to 'All Patients', patients_path %> </p>

    <h1>Search for new recipes, recipes API </h1>
  <% end %>

  <% if current_patient %>

  <% if @mealplan.present? %>
    <%= render @mealplan %>
  <% else %>
    <p>There are no meal plans containing the term(s) <%= params[:search] %>.</p>
  <% end %>

  <%= form_tag(mealplan_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
  <%= submit_tag "Search" %>
  <% end %>
  <% end %>

<%= link_to "Logout", destroy_patient_session_path, method: :delete, data: {confirm: 'Are you sure you want to logout?'} %>
</div>
