<h1>Doctor Homepage</h1>

<h4>Search a Patient's Name:</h4>
<%= form_tag(patients_name, method: :get) do %>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag ("Search") %>
<% end %>

<%patients.each do |patient| %>
<ul>
  <li><%= link_to patient.name, patient_path(patient) %></li><br>
  </ul>
  <% end %>
<p>
<%= link_to 'Add New Patient', new_patient_path %></p>

<div class = "tile-container">
  <% @patients.each do |patient| %>

<%= render 'All Patients', patient_path(@patient)%><%end%>
</div>
