<div class ="picture">
<%= image_tag @doctor.image.url(:thumb), :class => 'avatar' %>

<h1><%= @doctor.name %></h1>

<h4>Search a Patient's Name:</h4>
<%= simple_form_for Patient.new, :url => searchpatient_path, html: { class: 'patient-search' } do |f| %>
 <%= f.input :name , html: {class: 'search-name'} %>
 <%= f.button :submit,data: {disable_with: false} %>
<% end %>

<div id='searchResult'>
<%= render partial: 'patientList' %>

</div>
