
<%= image_tag @doctor.image.url(:thumb) %>

<h1><%= @doctor.name %></h1>

<%= link_to 'Edit My Account', edit_doctor_registration_path(@doctor) %>

<h4>Search a Patient's Name:</h4>
<%= form_tag(patient_path, method: :get) do %>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag ("Search") %>
<% end %>

<% @patients.each do |patient| %>
  <ul>
    <li><%= link_to patient.name, patient_path(patient) %></li>
  </ul>
<% end %>

<p><%= link_to 'Add New Patient', new_patient_registration_path %></p>
<p><%= link_to "Logout", destroy_doctor_session_path, method: :delete, data: {confirm: 'Are you sure you want to logout?'} %></p>
