<div class='new-diet-container'>
<h2>Add Diet Suggestions</h2>
<%= form_for(@diets, url: patient_diagnosis_diets_path) do |f| %>
  <div class = "field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class = "field">
    <%= f.label :avoid %>
    <%= f.text_field :avoid %>
  </div>

  <div class = "field">
    <%= f.label :eat %>
    <%= f.text_field :eat %>
  </div>

<%= f.submit %>
<% end %>
</div>
