<h1><%= @diet.name %></h1>

<h2>Doc Says...</h2>
<p>Avoid these foods:</p>
<ul>
<li><%= @diet.avoid %></li>
</ul>
<p>And eat these:</p>
<ul>
<li><%= @diet.eat %></li>
</ul>

<% if current_doctor %>
  <p><%= link_to 'Back to dashboard', doctor_path(current_doctor) %></p>
<% end %>

<% if current_patient %>
  <p><%= link_to 'Back to dashboard', patient_path(current_patient) %></p>
<% end %>
