<!DOCTYPE html>
<html>
  <head>
    <title>DocSays!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Barlow|Major+Mono+Display" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  
  <body>
  <% if current_doctor || current_patient %>
  <header>
    <nav>
      <div class="logo">
        <% if current_doctor %>
        <h1><%= link_to 'DocSays!', doctor_path(current_doctor) %></h1>
        <% end %>
        <% if current_patient %>
        <h1><%= link_to 'DocSays!', patient_path(current_patient) %>
        <% end %>
      </div>
      <ul class='nav-links'>
        <% if current_doctor %>
          <li><%= link_to 'Edit Account', edit_doctor_registration_path(@doctor) %></li>
          <li><%= link_to 'Add Patient', new_patient_registration_path %></li>
          <li><%= link_to "Logout", destroy_doctor_session_path, method: :delete, data: {confirm: 'Are you sure you want to logout?'} %></li>
        <% end %>
        <% if current_patient %>
          <li><%= link_to 'Edit Account', edit_patient_registration_path(@patient) %></li>
          <li><%= link_to "Logout", destroy_patient_session_path, method: :delete, data: { confirm: 'Are you sure you want to logout?' } %></li>
        <% end %>
      </ul>

      <div class='burger'>
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
  </header>
  <% end %>
    <div class="alert-container">
      <% flash.each do |key, value| %>
        <div class="alert alert-info-<%= key %>">

          <%= value %>
        </div>
      <% end %>
    </div>

    <%= yield :top_content %>

    <div class="container">
        <h1><%= yield :header %></h1>
      <%= yield %>

    </div>
    <script type="text/javascript" src="assets/javascripts/navslide.js">
  </body>
</html>
